{% extends 'list/base.html' %}

{% block content %}
{% if contacts %}
<div class="container-fluid">
	<div class="row">
		<table class="table table-striped table-sm datatable nowrap" width="100%">
			<thead>
				<tr>
					<th data-priority="1">MMSI</th>
					<th data-priority="1">Name</th>
					<th {% if "ships" in active %} data-priority="10001"{% endif %}>MMSI type</th>
					<th {% if "other" in active %} data-priority="10001"{% endif %}>Type</th>
					<th>Draught</th>
					<th>Length</th>
					<th>Max Speed</th>
					<th>First sighting</th>
					<th>Last sighting</th>
				</tr>
			</thead>
			<tbody>
			{% for contact in contacts %}
				<tr{% if contact.active %} class="success"{% endif %}>
					<td>{{ contact.mmsi }} <a href="#"><span class="glyphicon glyphicon-map-marker"></span></a> <a href="http://www.marinetraffic.com/en/ais/details/ships/mmsi:{{ contact.mmsi }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> <a href="#"><span class="glyphicon glyphicon-picture"></span></a></td>
					<th scope="row"><img style="padding-right:12px" src="http://icons.iconarchive.com/icons/famfamfam/flag/16/{{ contact.flag }}-icon.png"/>{{ contact.name }}</th>
					<td>{{ contact.mmsi_type }}</td>
					<td>{{ contact.readable_ship_type }}</td>
					<td>{% if contact.draught %}{{ contact.draught }}{% endif %}</td>
					<td>{{ contact.length }}</td>
					<td>{% if contact.max_speed is not None %}{{ contact.max_speed }}{% endif %}</td>
					<td>{{ contact.first_sighting|date:"Y-m-d H:i" }}</td>
					<td>{{ contact.last_sighting|date:"Y-m-d H:i" }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% else %}
<div class="alert alert-warning" role="alert">Warning!</div>
{% endif %}
{% endblock %}